<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_QuotationRequestForm>
            <version>0.0.1</version>
        </MobWeb_QuotationRequestForm>
    </modules>
    <global>
        <blocks>
            <quotationrequestform>
                <class>MobWeb_QuotationRequestForm_Block</class>
            </quotationrequestform>
        </blocks>
        <models>
            <quotationrequestform>
                <class>MobWeb_QuotationRequestForm_Model</class>
            </quotationrequestform>
        </models>
        <helpers>
            <quotationrequestform>
                <class>MobWeb_QuotationRequestForm_Helper</class>
            </quotationrequestform>
        </helpers>
        <template>
            <email>
                <quotation_request>
                    <label>Quotation Request</label>
                    <file>quotation_request.html</file>
                    <type>html</type>
                </quotation_request>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <quotationrequestform>
                    <files>
                        <default>mobweb_quotationrequestform.csv</default>
                    </files>
                </quotationrequestform>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <quotationrequestform>
                    <files>
                        <default>mobweb_quotationrequestform.csv</default>
                    </files>
                </quotationrequestform>
            </modules>
        </translate>
        <layout>
            <updates>
                <quotationrequestform module="quotationrequestform">
                    <file>mobweb_quotationrequestform.xml</file>
                </quotationrequestform>
            </updates>
        </layout>
        <routers>
            <quotationrequestform>
                <use>standard</use>
                <args>
                    <module>MobWeb_QuotationRequestForm</module>
                    <frontName>quote</frontName>
                </args>
            </quotationrequestform>
        </routers>
    </frontend>
</config>